*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: auto;
}

.container1{
    width: 90%;
    margin: auto;
}

.container2{
    width: 70%;
    margin: auto;
}

.layer{
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: #53AAFF;
}

.clear-both:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    width: 0;
}
.block-2{
    width: 50%;
    float: left;
}
.block-3{
    width: 33%;
    float: left;
}
.block-4{
    width: 25%;
    float: left;
}
.block-5{
    width: 20%;
    float: left;
}
.text-center{
    text-align: center;
}
.relative{
    position: relative;
}


@media screen and (max-width: 767px) {
    .fullSlide{
        height: 428px;
    }
    .fullSlide .bd li{
        height: 428px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fullSlide{
        height: 520px;
    }
    .fullSlide .bd li{
        height: 520px;
    }
}

@media (min-width: 991px) and (max-width: 1023px) {
    .fullSlide{
        height: 600px;
    }
    .fullSlide .bd li{
        height: 600px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .fullSlide{
        height: 750px;
    }
    .fullSlide .bd li{
        height: 750px;
    }
}

@media (min-width: 1440px) and (max-width: 1950px) {
    .fullSlide{
        height: 973px;
    }
    .fullSlide .bd li{
        height: 973px;
    }
}

#bodyPage{ width:100%; min-height:100%; height:auto !important; height:100%; position:fixed; top:0; left:0; }
img.bg { position:absolute; top: 0px; left: 0px; z-index:1; display:none;}